  
body {
    width:100%;
}

.main-section{
    background-color: cornflowerblue;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

.container {
    margin: 5px 25px 5px 25px;
    text-align: center;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 10px 25px 0 25px;
    padding: 20px;
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif ;
}

h2 {
    font-family:'PT Sans Narrow', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 20px;
}

.tracker {
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;

}

span {
    border: solid 2px rgb(53, 78, 160);
    padding-left:10px;
    padding-right: 10px;
    margin: 10px;
    background-color: rgb(253, 253, 253);
    font-size: 20px;
}

#score {
    padding: 100px;
    box-sizing: border-box;
    width: 100%;
}

#guess-word {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
